<div class="row">
  <div class="col-sm-12">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Lista de Asistencia</h3>
      </div>
      <div class="box-body">
        <%= form_tag("/admin/calls/asistencia", method: "post") do %>
          <div class="col-sm-12">
            <%= label :call_id, "Tema de Convocatoria" %>
            <%= select_tag(:call_id, options_from_collection_for_select(@calls,'id', 'topic'), { :class => 'form-control' })%>
          </div>
          <div class="col-sm-12" style="padding-top:1%">
            <div class="input-group-btn">
              <%= submit_tag "Tomar Asistencia", class: "btn bg-green btn-flat"%>
            </div>
          </div>
        <%end%>
      </div>
    </div>
  </div>
  <% if @instructors != nil %>
  <div class="col-sm-12">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Lista de Participantes</h3>
                    </div>
                    <div class="box-body">
                        <div id="user_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-sm-12">
                                  <%= form_tag attended_admin_calls_path, method: :post do%>
                                    <table id="user_index" class="table table-bordered table-striped dataTable" role="grid">
                                        <thead>
                                            <tr>
                                              <th>Código</th>
                                              <th>Nombre de Participante</th>
                                              <th class="col-xs-1">Asistió</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% @participants_ids.each do |pid| %>
                                                <tr>
                                                    <td>
                                                      <%= pid.employee_id %>
                                                    </td>
                                                    <% @p_name =  Employee.select('name').find(pid.employee_id)%>
                                                    <td><%= @p_name.name %></td>
                                                    <td align="center" class="vert-aligned">
                                                    <% if pid.attended == true %>
                                                      <%= check_box_tag "employee_ids[]" , pid.employee_id, true%>
                                                    <% else %>
                                                      <%= check_box_tag "employee_ids[]" , pid.employee_id, false%>
                                                    <% end %>
                                                    </td>
                                                </tr>
                                            <% end %>
                                        </tbody>
                                    </table>
                                    <div class="input-group-btn">
                                      <%= submit_tag "Cerrar Lista", class: "btn bg-green btn-flat" %>
                                    </div>
                                    <%end%>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <%end%>
</div>