<div class="row">
  <div class="col-sm-8 col-xs-offset-2">
    <div class="box box-primary">
      <span class="box-header" style="background-color: AliceBlue;"></span>
      <div class="box-body no-padding">
    </div>
      <div class="box-body">
        <div class="col-sm-12 text-center">
          <div class="form-group">
            <h4>
              <div class="form-group">
                <span class="glyphicon glyphicon-picture" style="font-size:70%;"></span>&nbsp&nbsp
                <%= f.label :image, "Foto de Perfil" %>
                <%= f.file_field :image%>
              </div>      
            </h4>
            <h4>
              <div class="form-group">
                <span class="glyphicon glyphicon-user" style="font-size:70%;"></span>&nbsp&nbsp
                <%= f.label :name, "Nombre Completo" %>
                <%= f.text_field :name, class: "form-control"%>
              </div>
            </h4>
            <h4>
              <span class="glyphicon glyphicon-tags" style="font-size:75%;"></span>&nbsp&nbsp
              <%= f.label :employee_id_number, "Codigo de Empleado" %>
              <%= f.text_field :employee_id_number, class: "form-control"%>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Informacion Personal -->
<div class="row">
  <div class="col-sm-8 col-xs-offset-2">
    <h3>Informacion Personal</h3>
    <div class="box box-primary">
      <div class="box-body">
        <div class="col-md-6">
          <h4>
            <div class="form-group">
              <span class="glyphicon glyphicon-tag" style="font-size:75%;"></span>&nbsp&nbsp
              <%= f.label :id_number, "Numero de Identidad" %>
              <%= f.number_field :id_number, class: "form-control"%>
            </div>
          </h4>
          <h4>
            <div class="form-group">
              <span class="glyphicon glyphicon-user" style="font-size:75%;"></span>&nbsp&nbsp
              <%= f.label :gender, "Genero" %>
              <%= f.select(:gender, ['Masculino', 'Femenino', 'Otro'], {include_blank: "Escoger..."}, { :class => 'form-control' }) %>
            </div>
          </h4>
          <h4>
            <div class="form-group">
              <span class="glyphicon glyphicon-tint" style="font-size:75%;"></span>&nbsp&nbsp
              <%= f.label :blood_type, "Tipo de Sangre" %>
              <%= f.select(:blood_type, ['O+', 'O-', 'A+', 'A-', 'B+', 'B-', 'AB+', 'AB-'], {include_blank: "Escoger..."}, { :class => 'form-control' }) %>
            </div>
          </h4>
        </div>
        <!-- Segunda columna -->
        <div class="col-md-6">
          <h4>
            <div class="form-group">
              <span class="glyphicon glyphicon-gift" style="font-size:75%;"></span>&nbsp&nbsp
              <%= f.label :birth_date, "Fecha de Nacimiento" %> 
              <%= f.date_field :birth_date, class: "form-control"%>
            </div>
          </h4>
          <h4>
            <div class="form-group">
              <span class="glyphicon glyphicon-globe" style="font-size:75%;"></span>&nbsp&nbsp
              <%= f.label :birth_place, "Lugar de Nacimiento" %>
              <%= f.text_field :birth_place, class: "form-control"%>
            </div>  
          </h4>  
          <h4>
            <div class="form-group">
              <span class="glyphicon glyphicon-heart-empty" style="font-size:75%;"></span>&nbsp&nbsp
              <%= f.label :marital_status, "Estado Civil" %>
              <%= f.select(:marital_status, ['Soltero', 'Casado', 'Viudo', 'Union Libre'], {include_blank: "Escoger..."}, { :class => 'form-control' }) %>
            </div>
          </h4>
        </div>                
      </div>
    </div>
  </div>
</div>
<!-- Informacion de Contacto -->
<div class="row">
  <div class="col-sm-8 col-xs-offset-2">
    <h3>Informacion de Contacto</h3>
    <div class="box box-primary">
      <div class="box-body">
        <div class="col-md-6">
          <h4>
            <div class="form-group">
              <span class="glyphicon glyphicon-earphone" style="font-size:75%;"></span>&nbsp&nbsp                
              <%= f.label :cellphone, "Numero de Telefono" %>
              <%= f.number_field :cellphone, class: "form-control"%>
            </div>
          </h4>
          <h4>
            <div class="form-group">
              <span class="glyphicon glyphicon-envelope" style="font-size:75%;"></span>&nbsp&nbsp
              <%= f.label :email, "Correo Electronico" %>
              <%= f.text_field :email, class: "form-control"%>            
            </div>
          </h4>
          <h4>
            <div class="form-group">
              <span class="glyphicon glyphicon-home" style="font-size:75%;"></span>&nbsp&nbsp
              <%= f.label :address, "Direccion" %>
              <%= f.text_area :address, class: "form-control"%>
            </div>
          </h4>
        </div>
        <!--Segunda columna -->
        <div class="col-md-6">
          <h4>  
            <div class="form-group">
              <span class="glyphicon glyphicon-user" style="font-size:70%;"></span>&nbsp&nbsp
              <%= f.label :emergency_contact_name, "Nombre de Contacto de Emergencia" %>
              <%= f.text_field :emergency_contact_name, class: "form-control"%>
            </div>
          </h4>
          <h4>
            <div class="form-group">
              <span class="glyphicon glyphicon-earphone" style="font-size:75%;"></span>&nbsp&nbsp
              <%= f.label :emergency_contact_number, "Numero de Contacto de Emergencia" %>
              <%= f.number_field :emergency_contact_number, class: "form-control"%>
            </div>
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Informacion de Empresa -->
<div class="row">
  <div class="col-sm-8 col-xs-offset-2">
    <h3>Informacion de la Empresa</h3>
    <div class="box box-primary">
      <div class="box-body">
        <div class="col-md-6">
          <h4>
            <div class="form-group">
              <span class="glyphicon glyphicon-briefcase" style="font-size:75%;"></span>
              <%= f.label :position_id, "Puesto Laboral" %>
              <%= f.select(:position_id, @positions.collect{|a| [a.name, a.id]}, {include_blank: "Escoger..."}, { :class => 'form-control' })%>
            </div>
          </h4>
          <h4>
            <div class="form-group">
              <span class="glyphicon glyphicon-equalizer" style="font-size:75%;"></span>                
              <%= f.label :company, "Base" %>
              <%= f.text_field :company, class: "form-control"%>
            </div>
          </h4>
          <h4>
            <div class="form-group">
              <span class="glyphicon glyphicon-tasks" style="font-size:75%;"></span>
              <%= f.label :contract_type, "Tipo de Contrato" %>
              <%= f.select(:contract_type, ['Contrato Permanente', 'Contrato Temporal/Indefinido', 'Practicante'], {include_blank: "Escoger..."}, { :class => 'form-control' }) %>
            </div>
          </h4>
        </div>
        <!-- Segunda columna -->
        <div class="col-md-6">
          <h4>
            <div class="form-group">
              <span class="glyphicon glyphicon-credit-card" style="font-size:75%;"></span>
              <%= f.label :bank_account, "Numero de Cuenta Bancaria" %>
              <%= f.number_field :bank_account, class: "form-control"%>
            </div>
          </h4>
          <h4>
            <div class="form-group">
              <span class="glyphicon glyphicon-usd" style="font-size:75%;"></span>
              <%= f.label :salary, "Salario" %>
              <%= f.number_field :salary, step: :any ,class: "form-control"%>
            </div>
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div>

<div class="row">
  <div class="col-sm-8 col-xs-offset-2">
    <h3>Habilidades</h3>
      <div class="box box-primary">
        <div class="box-body">
          <%= f.fields_for :abilities_employees do |abemp| %>
            <%= render 'abilities_employee_fields', f:abemp %>
          <% end %>
          <div class="links">
          <div class="col-sm-12 text-center">
            <br>
            <%= link_to_add_association 'Agregar Habilidad', f, :abilities_employees, class: "btn bg-blue btn-flat" %>
          </div
          </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-8 col-xs-offset-2">
    <h3>Educacion Formal</h3>
      <div class="box box-primary">
        <div class="box-body">
          <%= f.fields_for :educations_employees do |edemp| %>
            <%= render 'educations_employee_fields', f:edemp %>
          <% end %>
          <div class="links">
          <div class="col-sm-12 text-center">
            <br>
            <%= link_to_add_association 'Agregar Educacion', f, :educations_employees, class: "btn bg-blue btn-flat" %>
          </div>
          </div>
      </div>
    </div>
  </div>
</div>