<div class="row">
  <div class="col-xs-12">
      <div class="box">

        <div class="box-header">
          <h3 class="box-title">Lista de Empleados</h3>
        </div>

        <div class="box-body">
          <div id="user_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">

            <div class="row">
              <div class="col-sm-12">
                <table id="user_index" class="table table-bordered table-striped dataTable" role="grid">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Empleado</th>
                      <th>Area</th>
                      <th>Departamento</th>
                      <th>Puesto</th>
                      <th>Estado</th>
                      <th class="col-xs-1">Opciones</th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @employees.each do |employee| %>
                      <tr>
                        <td><%= employee.employee_id_number %></td>
                        <td><%= employee.name %></td>
                        <td><%= employee.position.department.area.name %></td>
                        <td><%= employee.position.department.name %></td>
                        <td><%= employee.position.name %></td>
                        <% if employee.employee_status == true %>
                          <td><span class="label label-success label"> &nbsp Activo  &nbsp</span></td>
                        <% else %>
                          <td><span class="label label-danger">Inactivo</span></td>
                        <%end%>
                        <td style="width: 9%;">
                          <div class="btn-row">
                            <%= link_to raw('<i class="fa fa-cogs"></i> Editar'), edit_admin_employee_url(employee), class: 'btn btn-sm btn-warning' %>
                            <%= link_to raw('<i class="fa fa-user"></i> Ver'), admin_employee_url(employee), class: 'btn btn-sm btn-primary' %>
                          </div>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>

                  <tfoot>
                    <tr role="row">
                      <th>Id</th>
                      <th>Empleado</th>
                      <th>Area</th>
                      <th>Departamento</th>
                      <th>Puesto</th>
                      <th>Estado</th>
                      <th class="col-xs-1">Opciones</th>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>

          </div>
        </div>

    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-2 col-md-offset-10">
    <%= link_to 'Nuevo Empleado', new_admin_employee_path, class: 'btn btn-success pull-right' %>
  </div>
</div>
