<div class="row">
  <div class="col-xs-12">
    <h3>Empleados</h3>
    <div class="box box-primary">
      <div class="box-header">
        <h3 class="box-title">Lista de Empleados</h3>
        <div class="box-tools">
          <div class="input-group input-group-sm" style="width: 90px;">
            <%= link_to "Agregar Empleado", new_admin_employee_path, :class => "btn btn-block btn-success btn-sm" %>
          </div>
        </div>
      </div>
      <!-- /.box-header -->
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <tr>
            <th>ID</th>
            <th>Empleado</th>
            <th>Area</th>
            <th>Departamento</th>
            <th>Puesto</th>
            <th>Estado</th>
            <th></th>
          </tr>
          <% @employees.each do |employee| %>
          <tr>
            <td><%= employee.employee_id_number %></td>
            <td><%= employee.name %></td>
            <td><%= employee.position.department.area.name %></td>
            <td><%= employee.position.department.name %></td>
            <td><%= employee.position.name %></td>
            <% if employee.employee_status == true %>
              <td><span class="label label-success label"> &nbsp Activo  &nbsp</span></td>
            <% else %>
              <td><span class="label label-danger">Inactivo</span></td>
            <%end%>
            <td align="right" style="width: 200px">
              <div class="input-group input-group-xs">
                <%= link_to admin_employee_path(employee), class: "btn bg-purple btn-flat btn-sm" do %>
                  <span class="fa fa-file-text"></span>
                  <font>Ver</font>
                <% end %>
                <%= link_to edit_admin_employee_path(employee), class: "btn bg-blue btn-flat btn-sm" do %>
                  <span class="fa fa-pencil"></span>
                  <font>Editar</font>
                <% end %>
              </div>
            </td>
          </tr>
          <% end %>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
</div>
