<!-- Informacion del Empleado -->
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="box box-primary">
      <div class="box-body no-padding">
        <div class="col-md-2" style="margin: 1%;">
          <div class="row" style="">
            <%=image_tag @employee.image.url(:medium), :class =>"profile-user-img", :style =>"height:144px;width:110px;"%>
          </div>
        </div>
        <div class="col-md-5" style="margin: 1%;">
          <div class="row">
            <h4><%=raw('<i class="glyphicon glyphicon-user"></i> <b>Nombre: </b>')%><%=@employee.name%></h4>
          </div>
          <div class="row">
            <h4><%=raw('<i class="glyphicon glyphicon-qrcode"></i> <b>Código Empleado: </b>')%><%=@employee.employee_id_number%></h4>
          </div>
          <div class="row">
            <%if @employee.employee_status%>
              <h4><%= link_to raw('<i class="glyphicon glyphicon-cog"></i> <b>Estado: </b><b class="text-success">Activo</b>'), "#my-modal", "data-toggle" => "modal" %></h4>
            <%else%>
              <h4><%= link_to raw('<i class="glyphicon glyphicon-cog"></i> <b>Estado: </b><b class="text-danger">Inactivo</b>'), "#my-modal", "data-toggle" => "modal" %></h4>
            <%end%>
          </div>
        </div>
        <div class="col-md-4" style="margin:1%;">
          <div class="row">
            <h4><%=raw('<i class="glyphicon glyphicon-list"></i> <b>Área: </b>')%><%=@employee.position.department.area.name%></h4>
          </div>
          <div class="row">
            <h4><%=raw('<i class="glyphicon glyphicon-list-alt"></i> <b>Departamento: </b>')%><%=@employee.position.department.name%></h4>
          </div>
          <div class="row">
            <h4><%=raw('<i class="glyphicon glyphicon-briefcase"></i> <b>Puesto: </b>')%><%=@employee.position.name%></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Informacion Personal -->
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3>Información Personal</h3>
    <div class="box box-primary">
      <div class="box-body">
        <!-- Primera columna -->
        <div class="col-md-6">
          <div class="row">
            <h4><%=raw('<i class="glyphicon glyphicon-tag col-md-offset-1"></i> <b>Número de Identidad: </b>')%><%=@employee.id_number%></h4>
          </div>
          <div class="row">
            <h4><%=raw('<i class="glyphicon glyphicon-user col-md-offset-1"></i> <b>Género: </b>')%><%=@employee.gender%></h4>
          </div>
          <div class="row">
            <h4><%=raw('<i class="glyphicon glyphicon-tint col-md-offset-1"></i> <b>Tipo de Sangre: </b>')%><%=@employee.blood_type%></h4>
          </div>
        </div>
        <!-- Segunda columna -->
        <div class="col-md-6">
          <div class="row">
            <h4><%=raw('<i class="glyphicon glyphicon-gift col-md-offset-1"></i> <b>Fecha de Nacimiento: </b>')%><%=@employee.birth_date%></h4>
          </div>
          <div class="row">
            <h4><%=raw('<i class="glyphicon glyphicon-globe col-md-offset-1"></i> <b>Lugar de Nacimiento: </b>')%><%=@employee.birth_place%></h4>
          </div>
          <div class="row">
            <h4><%=raw('<i class="glyphicon glyphicon-heart-empty col-md-offset-1"></i> <b>Estado Civil: </b>')%><%=@employee.marital_status%></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Informacion de Contacto -->
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3>Información de Contacto</h3>
    <div class="box box-primary">
      <div class="box-body">
          <!-- Primera columna -->
        <div class="col-md-6">
          <div class="row">
            <h4><%=raw('<i class="glyphicon glyphicon-phone col-md-offset-1"></i> <b>Número de Contacto de Emergencia: </b>')%><%=@employee.emergency_contact_number%></h4>
          </div>
          <div class="row">
            <h4><%=raw('<i class="glyphicon glyphicon-user col-md-offset-1"></i> <b>Nombre de Contacto de Emergencia: </b>')%><%=@employee.emergency_contact_name%></h4>
          </div>
          <div class="row">
            <h4><%=raw('<i class="glyphicon glyphicon-qrcode col-md-offset-1"></i> <b>Código Rap: </b>')%><%=@employee.rap_code%></h4>
          </div>
        </div>
        <!-- Segunda columna -->
        <div class="col-md-6">
          <div class="row">
            <h4><%=raw('<i class="glyphicon glyphicon-earphone col-md-offset-1"></i> <b>Número de Telefono: </b>')%><%=@employee.cellphone%></h4>
          </div>
          <div class="row">
            <h4><%=raw('<i class="glyphicon glyphicon-envelope col-md-offset-1"></i> <b>Correo Electrónico: </b>')%><%=@employee.email%></h4>
          </div>
          <div class="row">
            <h4><%=raw('<i class="glyphicon glyphicon-home col-md-offset-1"></i> <b>Dirección: </b>')%><%=@employee.address%></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Informacion de la Empresa -->
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3>Información de la Empresa</h3>
    <div class="box box-primary">
      <div class="box-body">
        <!-- Primera Columna -->
        <div class="col-md-6">
          <div class="row">
            <h4><%=raw('<i class=" glyphicon glyphicon-equalizer col-md-offset-1"></i> <b>Base: </b>')%><%=@employee.company%></h4>
          </div>
          <div class="row">
            <h4><%=raw('<i class="glyphicon glyphicon-list-alt col-md-offset-1"></i> <b>Tipo de Contrato: </b>')%><%=@employee.contract_type%></h4>
          </div>
        </div>
        <!-- Segunda Columna -->
        <div class="col-md-6">   
          <div class="row">
            <h4><%=raw('<i class="glyphicon glyphicon-credit-card col-md-offset-1"></i> <b>Número de Cuenta Bancaria: </b>')%><%=@employee.bank_account%></h4>
          </div>
          <div class="row">
            <h4><%=raw('<i class="glyphicon glyphicon-credit-card col-md-offset-1"></i> <b>Salario: </b>')%><%=@employee.salary%></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Habilidades -->
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3>Habilidades</h3>
    <div class="box box-primary">
      <div class="box-body">
        <% @employee_abilities.each do |employee_abilities| %>
        <% @employee_institutions =  School.select('name').find(employee_abilities.school_id)%>
        <% @employee_abilities =  Ability.select('ability_name').find(employee_abilities.ability_id)%>
          <!-- Primera Columna -->
          <div class="col-md-6">
            <div class="row">
              <h4><%=raw('<i class="glyphicon glyphicon-wrench col-md-offset-1"></i> <b>Institución:: </b>')%><%=@employee_institutions.name%></h4>
            </div>
            <hr size = 3>
          </div>
          <!-- Segunda Columna -->
          <div class="col-md-6">
            <div class="row">
              <h4><%=raw('<i class="glyphicon glyphicon-wrench col-md-offset-1"></i> <b>Habilidad: </b>')%><%=@employee_abilities.ability_name%></h4>
            </div>
            <hr size = 3>
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>
<!-- Educaciones -->
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3>Educación Formal</h3>
    <div class="box box-primary">
      <div class="box-body">
      <% @employee_education.each do |employee_education| %>
      <% @employee_institutions =  School.select('name').find(employee_education.school_id)%>
      <% @employee_educations = Education.select('major_description').find(employee_education.education_id)%>
        <!-- Primera Columna -->
        <div class="col-md-6">
          <div class="row">
            <h4><%=raw('<i class="glyphicon glyphicon-education col-md-offset-1"></i> <b>Institución: </b>')%><%=@employee_institutions.name%></h4>
          </div>
          <div class="row">
            <h4><%=raw('<i class="glyphicon glyphicon-education col-md-offset-1"></i> <b>Título: </b>')%><%= employee_education.title%></h4>
          </div>
          <hr size = 3>
        </div>
        <!-- Segunda Columna -->
        <div class="col-md-6">
          <div class="row">
            <h4><%=raw('<i class="glyphicon glyphicon-education col-md-offset-1"></i> <b>Descripción de Educación: </b>')%><%=@employee_educations.major_description%></h4>
          </div>
          <div class="row">
            <%if employee_education.completed%>
              <h4><%=raw('<i class="glyphicon glyphicon-education col-md-offset-1"></i> <b>Completado: </b>Si')%></h4>
            <%else%>
              <h4><%=raw('<i class="glyphicon glyphicon-education col-md-offset-1"></i> <b>Completado: </b>No')%></h4>
            <%end%>
          </div>
          <hr size = 3>
        </div>
      <%end%>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="my-modal" tabindex="-1">
  <div class="modal-header">
    <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
    <%if @employee.employee_status?%>
      <h3 id="myModalLabel">Inactivar Empleado</h3>
    <%else%>
      <h3 id="myModalLabel">Activar Empleado</h3>
    <%end%>
  </div>
  <div class="modal-body">
    <div class="row">
      <%= form_for @employee ,url: @url do |f| %>
      <%= render partial: "suprimir", locals: {f: f} %>
    </div>
  </div>
  <div class="modal-footer">
    <%if @employee.employee_status?%>
      <%= f.submit "Inactivar", class: "btn bg-red btn-flat" %>
    <%else%>
      <%= f.submit "Activar", class: "btn bg-green btn-flat" %>
    <%end%>
  </div>
    <%end%>
</div>