<!-- Informacion del Empleado -->
<div class="row">
  <div class="col-sm-8 col-xs-offset-2">
    <div class="box box-primary">
      <div class="text-right">
      </div>
      <div class="box-body no-padding">
        <div class="col-md-2" style="margin-top:1.5%;">
          <%=image_tag @employee.image.url(:medium), :class =>"profile-user-img"%>
        </div>
        <div class="col-md-5" style="margin-top:2.5%;">
          <h4><%=raw('<i class="fa fa-user"></i> <b>Nombre: </b>')%><%=@employee.name%></h4>
          <h4><%=raw('<i class="fa fa-tags"></i> <b>Identidad Empleado: </b>')%><%=@employee.employee_id_number%></h4>
          <h4><%=raw('<i class="fa fa-cog"></i> <b>Estado: </b>')%><%=@employee.employee_status%></h4>
        </div>
        <div class="col-md-4" style="margin-top:2.5%;">
          <h4><%=raw('<i class="fa fa-list"></i> <b>Area: </b>')%><%=@employee.position.department.area.name%></h4>
          <h4><%=raw('<i class="fa fa-list"></i> <b>Departamento: </b>')%><%=@employee.position.department.name%></h4>
          <h4><%=raw('<i class="fa fa-list"></i> <b>Puesto: </b>')%><%=@employee.position.name%></h4>
        </div>
      </div>
      <div class="box-body no-padding">
        <div class="col-sm-12 text-left">
          <div class="form-group" style="margin-bottom:0%; margin-top:2%">
            <div class="" role="tabpanel" data-example-id="togglable-tabs" >
              <ul id="myTab" class="nav nav-tabs nav-justified" role="tablist">
                <li role="presentation" class="active"><a href="#tab_info" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true"></br>Informacion General</a>
                </li>
                <li role="presentation" class=""><a href="#tab_config" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false"></br>Configurar Empleado</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Informacion Personal -->
<div id="myTabContent" class="tab-content">
  <div role="tabpanel" class="tab-pane fade active in" id="tab_info" aria-labelledby="home-tab">
    <div class="row">
      <div class="col-sm-8 col-xs-offset-2">
        <h3>Informacion Personal</h3>
        <div class="box box-primary">
          <div class="box-body">
            <div class="col-md-6">
              <h4>
                <span class="glyphicon glyphicon-tag" style="font-size:75%;"></span>&nbsp&nbsp
                <b>Numero de Identidad:</b> <%= @employee.id_number %>
              </h4>
              <h4>
                <span class="glyphicon glyphicon-user" style="font-size:75%;"></span>&nbsp&nbsp
                <b>Genero:</b> <%= @employee.gender %>
              </h4>
              <h4>
                <span class="glyphicon glyphicon-tint" style="font-size:75%;"></span>&nbsp&nbsp
                <b>Tipo de Sangre:</b> <%= @employee.blood_type %>
              </h4>
            </div>
            <!-- Segunda columna -->
            <div class="col-md-6">
              <h4>&nbsp&nbsp&nbsp
                <span class="glyphicon glyphicon-gift" style="font-size:75%;"></span>&nbsp&nbsp
                <b>Fecha de Nacimiento:</b> <%= @employee.birth_date %>
              </h4>
              <h4>&nbsp&nbsp&nbsp
                <span class="glyphicon glyphicon-globe" style="font-size:75%;"></span>&nbsp&nbsp
                <b>Lugar de nacimiento:</b> <%= @employee.birth_place %>
              </h4>
              <h4>&nbsp&nbsp&nbsp
                <span class="glyphicon glyphicon-heart-empty" style="font-size:75%;"></span>&nbsp&nbsp
                <b>Estado Civil:</b> <%= @employee.marital_status %>
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Informacion de Contacto -->
    <div class="row">
      <div class="col-sm-8 col-xs-offset-2">
        <h3>Informacion de Contacto</h3>
        <div class="box box-primary">
          <div class="box-body">
            <div class="col-md-6">
              <h4>
                <span class="glyphicon glyphicon-earphone" style="font-size:75%;"></span>&nbsp&nbsp
                <b>Numero de Telefono:</b> <%= @employee.cellphone %>
              </h4>
              <h4>
                <span class="glyphicon glyphicon-envelope" style="font-size:75%;"></span>&nbsp&nbsp
                <b>Correo Electronico:</b> <%= @employee.email %>
              </h4>
              <h4>
                <span class="glyphicon glyphicon-home" style="font-size:75%;"></span>&nbsp&nbsp
                <b>Direccion:</b> <%= @employee.address %>
              </h4>
            </div>
            <!-- Segunda columna -->
            <div class="col-md-6">
              <h4>&nbsp&nbsp&nbsp
                <span class="glyphicon glyphicon-user" style="font-size:70%;"></span>&nbsp&nbsp
                <b>Numero de Contacto de Emergencia:</b> <%= @employee.emergency_contact_number %>
              </h4>
              <h4>&nbsp&nbsp&nbsp
                <span class="glyphicon glyphicon-user" style="font-size:70%;"></span>&nbsp&nbsp
                <b>Nombre de Contacto de Emergencia:</b> <%= @employee.emergency_contact_name %>
              </h4>
              <h4>&nbsp&nbsp&nbsp
                <span class="glyphicon glyphicon-user" style="font-size:70%;"></span>&nbsp&nbsp
                <b>Codigo Rap:</b> <%= @employee.rap_code %>
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Informacion de la Empresa -->
    <div class="row">
      <div class="col-sm-8 col-xs-offset-2">
        <h3>Informacion de la Empresa</h3>
        <div class="box box-primary">
          <div class="box-body">
            <div class="col-md-6">
              <h4>
                <span class="glyphicon glyphicon-briefcase" style="font-size:75%;"></span>
                <b>Puesto Laboral:</b> <%= @employee.position.name %>
              </h4>
              <h4>
                <span class="glyphicon glyphicon-equalizer" style="font-size:75%;"></span>
                <b>Base:</b> <%= @employee.company %>
              </h4>
              <h4>
                <span class="glyphicon glyphicon-tasks" style="font-size:75%;"></span>              
                <b>Tipo de Contrato:</b> <%= @employee.contract_type %>
              </h4>
            </div>
            <!-- Segunda Columna -->
            <div class="col-md-6">
              <h4>&nbsp&nbsp&nbsp
                <span class="glyphicon glyphicon-credit-card" style="font-size:75%;"></span>              
                <b>Numero de Cuenta Bancaria:</b> <%= @employee.bank_account %>
              </h4>
              <h4>&nbsp&nbsp&nbsp
                <span class="glyphicon glyphicon-credit-card" style="font-size:75%;"></span>
                <b>Salario:</b> L. <%= @employee.salary %>
              </h4>
            </div>
            </div>
          </div>
        </div>
      </div>
    <!-- Habilidades -->
    <div class="row">
      <div class="col-sm-8 col-xs-offset-2">
        <h3>Habilidades</h3>
        <div class="box box-primary">
          <div class="box-body">
          <% @employee_abilities.each do |employee_abilities| %>
            <% @_school =  School.select('name').find(employee_abilities.school_id)%>
            <% @_ability =  Ability.select('ability_name').find(employee_abilities.ability_id)%>
            <div class="col-md-6">
              <h4>
                <span class="glyphicon glyphicon-wrench" style="font-size:75%;"></span>
                <b>Institucion:</b> <%= @_school.name %>
              </h4>
              <hr size = 3>
            </div>
            <!-- Segunda Columna -->
            <div class="col-md-6">
              <h4>&nbsp&nbsp&nbsp
                <span class="glyphicon glyphicon-wrench" style="font-size:75%;"></span>
                <b>Habilidad:</b> <%= @_ability.ability_name %>
              </h4>
              <hr size = 3>
            </div>
          <% end %>
          </div>
        </div>
      </div>
    </div>
    <!-- Educaciones -->
    <div class="row">
      <div class="col-sm-8 col-xs-offset-2">
        <h3>Educacion Formal</h3>
        <div class="box box-primary">
          <div class="box-body">
          <% @employee_education.each do |employee_education| %>
            <% @_school =  School.select('name').find(employee_education.school_id)%>
            <% @_education = Education.select('major_description').find(employee_education.education_id)%>
            <div class="col-md-6">
              <h4>
                <span class="glyphicon glyphicon-education" style="font-size:75%;"></span>
                <b>Institucion:</b> <%= @_school.name %>
              </h4>
              <h4>
                <span class="glyphicon glyphicon-education" style="font-size:75%;"></span>
                <b>Titulo:</b> <%= employee_education.title %>
              </h4>
              <hr size = 3>
            </div>
            <!-- Segunda Columna -->
            <div class="col-md-6">
              <h4>
                <span class="glyphicon glyphicon-education" style="font-size:75%;"></span>
                <b>Descripcion de Educacion:</b> <%= @_education.major_description %>
              </h4>
              <h4>
                <span class="glyphicon glyphicon-education" style="font-size:75%;"></span>
                <% if employee_education.completed == true%>
                  <b>Completo:</b> <%= "Si" %>
                <%else%>
                  <b>Completo:</b> <%= "No" %>
                <% end %>
              </h4>
              <hr size = 3>
              <br>
            </div>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane fade active in" id="tab_config" aria-labelledby="home-tab">
    <div class="row">
      <div class="col-sm-8 col-xs-offset-2">
        <h3>Configuracion de Empleado</h3>
        <div class="box box-primary">
          <div class="box-body">
              <div class="row">
              <%= form_for @employee ,url: @url do |f| %>
              <%= render partial: "suprimir", locals: {f: f} %>
              </div>
              <div class="input-group-btn" align="center">
              <%if @employee.employee_status?%>
                <%= f.submit "Suprimir", class: "btn bg-green btn-flat" %>
              <%else%>
                <%= f.submit "Restaurar", class: "btn bg-green btn-flat" %>
              <%end%>
              </div>
              <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
