<div class="col-md-2">
    <%= f.file_field :image, :type=>'file', :id=>"imgInp", :style=>"width:80%;"%>
    <img class="profile-user-img" id="preview" src="https://cdn.pixabay.com/photo/2013/07/13/13/38/man-161282_960_720.png" style="height:144px;width:110px;"/>
</div>

<div class="col-md-5">
    <div class="form-group">
        <%= f.label :mission, "Misión" %>
        <%= f.text_area :mission, class: "form-control", autofocus:true%>
    </div>
</div>

<div class="col-md-5">
  <div class="form-group">
    <%= f.label :vision, "Visión" %>
    <%= f.text_area :vision, class: "form-control"%>
  </div>
</div>