<div class="col-md-6">
    <div class="form-group">
        <%= f.label :name, "Nombre del Instituto" %>
        <%= f.text_field :name, class: "form-control", autofocus:true%>
    </div>
</div>

<div class="col-md-6">
	<div class="form-group">
        <%= f.label :cellphone, "Número de Teléfono" %>
        <%= f.text_field :cellphone, class: "form-control"%>
    </div>
</div>

<div class="col-md-12">
	<div class="form-group">
        <%= f.label :address, "Dirección" %>
        <%= f.text_area :address, class: "form-control"%>
    </div>
</div>