<div class="row">
  <div class="col-xs-12">
      <div class="box">

        <div class="box-header">
          <h3 class="box-title">Estructura Organizacional</h3>
           </div>

        <div class="box-body">
          <div id="user_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="row">
              <div class="col-sm-12">
                <table id="user_index" class="table table-bordered table-striped dataTable" role="grid">
                  <thead>
                    <tr>
                      <th width="120">Código</th>
                      <th width="300">Departamento</th>
                      <th width="300">Área</th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @departments.each do |department| %>
                      <tr>
                        <td><%= department.department_id_number %></td>
                        <td><%= department.name %></td>
                        <td><%= department.area.name %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
        <div class="col-sm-12">
          <table id="user_index" class="table table-bordered table-striped dataTable" role="grid">
            <thead>
              <tr>
                <th>Código</th>
                <th>Posición</th>
                <th>Departamento</th>
              </tr>
            </thead>
            <tbody>
              <% @positions.each do |position| %>
                <tr>
                <td> <%= position.position_id_number %> </td>
                <td> <%= position.name %> </td>
                <td> <%= position.department.name %> </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>


    <div class="row">
      <div class="col-sm-12">
        <table id="user_index" class="table table-bordered table-striped dataTable" role="grid">
          <thead>
            <tr>
              <th width="10">Código</th>
              <th width="20%">Empleado</th>
              <th width="15%">Área</th>
              <th width="20%">Departamento</th>
              <th width="15%">Puesto</th>
            </tr>
          </thead>

          <tbody>
            <% @employees.each do |employee| %>
              <tr>
                <td><%= employee.employee_id_number %></td>
                <td><%= employee.name %></td>
                <td><%= employee.position.department.area.name %></td>
                <td><%= employee.position.department.name %></td>
                <td><%= employee.position.name %></td>
              <%end%>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div> 
  

    </div>
  </div>
</div>
