<div class="row">
  <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Lista de Empleados</h3>
          
          <div class="dropdown pull-right">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Filtrar por Contrato <b class="caret"></b></a>
    
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item">
                  <%= link_to 'Todos', admin_reports_employee_url(:filter => "1")%>
                </a>
              </li>
              <li>
                <a class="dropdown-item">
                  <%= link_to 'Practicantes', admin_reports_employee_url(:filter => "2")%>
                </a>
              </li>
              <li>
                <a class="dropdown-item">
                  <%= link_to 'Temporal / Definido', admin_reports_employee_url(:filter => "3")%>
                </a>
              </li>
              <li>
                <a class="dropdown-item">
                  <%= link_to 'Permanente / Indefinido', admin_reports_employee_url(:filter => "4")%>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="box-body">
          <div id="user_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="row">
              <div class="col-sm-12">
                <table id="user_index" class="table table-bordered table-striped dataTable" role="grid">
                  <thead>
                    <tr>
                      <th width="10">Código</th>
                      <th width="20%">Empleado</th>
                      <th width="15%">Área</th>
                      <th width="20%">Departamento</th>
                      <th width="15%">Puesto</th>
                      <th width="5%">Estado</th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @employees.each do |employee| %>
                      <tr>
                        <td><%= employee.employee_id_number %></td>
                        <td><%= employee.name %></td>
                        <td><%= employee.position.department.area.name %></td>
                        <td><%= employee.position.department.name %></td>
                        <td><%= employee.position.name %></td>
                        <% if employee.employee_status == true %>
                          <td><span class="label label-success label">Activo</span></td>
                        <% else %>
                          <td><span class="label label-danger">Inactivo</span></td>
                        <%end%>
                      <%end%>
                    </tr>
                  </tbody>

                </table>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
