<div class="row">
  <div class="col-sm-12">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Perfil Comparativo</h3>
      </div>
      <div class="box-body">
        <%= form_tag("/admin/reports/comparacion", method: "post") do %>
          <div class="col-sm-12">
            <%= label :employee, "Empleado" %>
            <%= select_tag(:employee, options_from_collection_for_select(@employees,'id', 'name'), { :class => 'form-control' })%>
          </div>
          <div class="col-sm-12" style="padding-top:1%">
            <div class="input-group-btn">
              <%= submit_tag "Comparar", class: "btn bg-green btn-flat"%>
            </div>
          </div>
        <%end%>
      </div>
    </div>
  </div>
  <% if @abilities_possessed != nil  or @abilities_missing != nil or @abilities_not_position != nil%>
    <div class="col-sm-12">
      <div class="box box-primary">
          <div class="box-header with-border" >
            <h3 class="box-title">Habilidades</h3>
          </div>
        <div class="box-body">
          <div class="col-sm-6">
            <h4><%=raw('<i class="glyphicon glyphicon-education"></i> <b>Cuenta Con: </b>')%></h4>
          </div>
          <div class="col-sm-6">
            <h4><%=raw('<i class="glyphicon glyphicon-education"></i> <b>Hace Falta: </b>')%></h4>
          </div>
          <div class="col-md-6">
            <% @abilities_possessed.each do |possessed| %>
              <% @abilities_possessed_n =  Ability.select('ability_name').find(possessed.ability_id)%>
              <h4><p><em><strong><%=@abilities_possessed_n.ability_name%></strong></em></p></h4>
              <hr size = 3>
            <%end%>
            <% @abilities_not_position.each do |not_position| %>
              <% @abilities_not_position_n =  Ability.select('ability_name').find(not_position.ability_id)%>
              <h4><%=@abilities_not_position_n.ability_name%></h4>
              <hr size = 3>
            <%end%>
          </div>
          <div class="col-md-6">
            <% @abilities_missing.each do |missing| %>
              <% @abilities_missing_n =  Ability.select('ability_name').find(missing.ability_id)%>
              <h4><%=@abilities_missing_n.ability_name%></h4>
              <hr size = 3>
          <%end%>
          </div>
        </div>
      </div>
    </div>
  <%end%>
  <% if @educations_possessed != nil  or @educations_missing != nil or @educations_not_position != nil%>
    <div class="col-sm-12">
      <div class="box box-primary">
        <div class="box-header with-border" >
          <h3 class="box-title">Educación Formal</h3>
        </div>
        <div class="box-body">
          <div class="col-sm-6">
            <h4><%=raw('<i class="glyphicon glyphicon-education"></i> <b>Cuenta Con: </b>')%></h4>
          </div>
          <div class="col-sm-6">
            <h4><%=raw('<i class="glyphicon glyphicon-education"></i> <b>Hace Falta: </b>')%></h4>
          </div>
          <div class="col-md-6">
            <% @educations_possessed.each do |possessed| %>
              <% @educations_possessed_n =  Education.select('major_description').find(possessed.education_id)%>
              <h4><p><em><strong><%=possessed.title%></strong></em></p></h4>
              <h4><p><em><strong><%=@educations_possessed_n.major_description%></strong></em></p></h4>
              <hr size = 3>
            <%end%>
            <% @educations_not_position.each do |not_position| %>
              <% @educations_not_position_n =  Education.select('major_description').find(not_position.education_id)%>
              <% @educations_not_position_c =  EducationsEmployee.find_by_sql(["select completed from educations_employees where education_id = ? and title = ? and employee_id = ?;", not_position.education_id, not_position.title, @employee_id])%>
              <h4><%=not_position.title%></h4>
              <h4><%=@educations_not_position_n.major_description%>
              <% @educations_not_position_c.each do |completed| %>
                <% if completed.completed == false %>
                  (Pasante)</h4>
                <%end%>
              <%end%>
              <hr size = 3>
            <%end%>
          </div>
          <div class="col-md-6">
            <% @educations_missing.each do |missing| %>
              <% @educations_missing_n =  Education.select('major_description').find(missing.education_id)%>
              <% @educations_missing_c =  EducationsEmployee.find_by_sql(["select completed from educations_employees where education_id = ? and title = ? and employee_id = ?;", missing.education_id, missing.title, @employee_id])%>
              <h4><%=missing.title%></h4>
              <h4><%=@educations_missing_n.major_description%>
              <% @educations_missing_c.each do |completed| %>
                <%if completed.completed == false and !@title_compare.blank?%>
                  (Pasante)</h4>
                <%end%>
              <%end%>
              <hr size = 3>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  <%end%>
</div>