<div class="row">
  <div class="col-xs-12">
      <div class="box">

        <div class="box-header">
          <h3 class="box-title">Reloj de Empleados</h3>
          <%= link_to 'Subir Archivo', new_admin_employee_path, class: 'btn btn-success pull-right' %>
          <%= link_to 'Ingreso Manual', new_admin_schedule_path, class: 'btn btn-success pull-right' %>
        </div>

        <div class="box-body">
          <div id="user_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">

            <div class="row">
              <div class="col-sm-12">
                <table id="user_index" class="table table-bordered table-striped dataTable" role="grid">
                  <thead>
                    <tr>
                      <th width="10%">Fecha</th>
                      <th width="10%">Codigo</th>
                      <th width="20%">Nombre de Empleado</th>
                      <th width="15%">Departamento</th>
                      <th width="15%">Hora de Entrada</th>
                      <th width="15%">Hora de Salida</th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @schedules.each do |schedule| %>
                      <tr>
                      <td> <%= schedule.date %> </td>
                      <td> <%= schedule.employee.employee_id_number %> </td>
                      <td> <%= schedule.employee.name %> </td>
                      <td> <%= schedule.employee.department%> </td>
                      <td> <%= schedule.start_time%> </td>
                      <td> <%= schedule.end_time%> </td>
                      </tr>
                    <% end %>
                  </tbody>

                </table>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

