<div class="row">
  <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Horas Extras</h3>
           <div class="dropdown pull-right">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Nuevo<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item">
                  <%= link_to 'Ingreso Manual', admin_schedules_new_path%>
                </a>
              </li>
              <li>
                <a class="dropdown-item">
                <%= link_to 'Subir Archivo', admin_schedules_show_path%> 
                </a>
              </li>
            </ul>
          </div>
          <div class="dropdown pull-right">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Filtro<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item">
                  <label>Fecha de inicio</label>
                  <input type="date" name="Fecha" id = "inicio">
                </a>
              </li>
              <li>
                <a class="dropdown-item">
                  <label>Fecha Finalizacion</label>
                  <input type="date" name="Fecha" id = "final">
                </a>
              </li>
              <li>
                <a class="dropdown-item">
                  <button type="button" class="btn btn-primary" onclick="getData()">Filtrar</button>
                </a>
              </li>
            </ul>
          </div>
        </div>
        

        <div class="box-body">
          <div id="user_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="row">
              <div class="col-sm-12">
                <table id="user_index" class="table table-bordered table-striped dataTable" role="grid">
                  <thead>
                    <tr>
                      <th width="5%">Codigo de Empleado</th>
                      <th width="5%">Nombre de Empleado</th>
                      <th width="5%">Fecha</th>
                      <th width="5%">Hora de Entrada</th>
                      <th width="5%">Hora de Salida</th>
             
                    </tr>
                  </thead>

                  <tbody>
                    <% @schedules.each do |schedule| %>
                      <tr>
                        <td> <%= schedule.employee_id_number %> </td>
                        <%@employees.each do |employee|%>
                          <%if schedule.employee_id_number.to_s == employee.employee_id_number%>
                            <td> <%= employee.name %> </td>
                          <%else%>
                            <td></td>  
                          <%end%>
                        <%end%>
                        <td> <%= schedule.fecha.strftime("%d/%m/%Y") %> </td>
                        <td> <%= schedule.hora_entrada.strftime("%I:%M %p")%> </td>
                        <td> <%= schedule.hora_salida.strftime("%I:%M %p")%> </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function getData(){
    var begin = document.getElementById('inicio').value;
    var end = document.getElementById('final').value;
    window.open('http://localhost:3000/admin/schedules?filter=' + begin+'|' + end,'_self');
  }
</script>
