<div class="form-group">
  <%= f.label :correo_electronico %>
  <%= f.email_field :email, class: "form-control", placeholder: "Enter email", required: true %>
  <span class="help-block"><i>* Requerido</i><span>
</div>

<div class="form-group">
  <%= f.label :contrase単a %>
  <%= f.password_field :password, class: "form-control", placeholder: "Enter password", required: (@user.new_record? ? true : false) %>
  <span class="help-block"><i>* Requerido (dejar en blanco si no desean cambiar la contrase単a)</i><span>
</div>

<div class="form-group">
  <%= f.label :verificacion_de_contrase単a %>
  <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm password", required: (@user.new_record? ? true : false) %>
  <span class="help-block"><i>* Requerido (dejar en blanco si no desean cambiar la contrase単a)</i><span>
</div>

<div class="form-group">
  <%= f.label :nombre %>
  <%= f.text_field :name, class: "form-control", placeholder: "Enter name", required: true %>
  <span class="help-block"><i>* Requerido</i><span>
</div>
