<div class="row">
  <div class="col-xs-12">
      <div class="box">

        <div class="box-header">
          <h3 class="box-title">Lista de Educaciones No Formales</h3>
        </div>

        <div class="box-body">
          <div id="user_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">

            <div class="row">
              <div class="col-sm-12">
                <table id="user_index" class="table table-bordered table-striped dataTable" role="grid">
                  <thead>
                    <tr>
                      <th>Código</th>
                      <th>Habilidad</th>
                      <th width="15%">Opciones</th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @abilities.each do |ability| %>
                      <tr>
                        <td> <%= ability.id %> </td>
                        <td> <%= ability.ability_name %> </td>
                        <td>
                          <div class="btn-row">
                            <%= link_to raw('<i class="fa fa-cogs"></i> Editar'), edit_admin_ability_url(ability), class: 'btn btn-sm btn-warning' %>
                            <%= link_to raw('<i class="fa fa-trash"></i>'), admin_ability_url(ability), class: 'btn btn-sm btn-danger', method: :delete,
                                            data: { confirm: 'Esta seguro de borrar?' } %>
                          </div>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>


                </table>
              </div>
            </div>

          </div>
        </div>

    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-2 col-md-offset-10">
    <%= link_to 'Nueva Habilidad', new_admin_ability_path, class: 'btn btn-success pull-right' %>
  </div>
</div>
